<div class="card text-white bg-dark shadow mb-5">

  <a if="image" href="${id}.html" class="text-reset text-decoration-none"><img src="image/md-${image}" class="card-img-top" alt="${title} Illustration"></a>

  <div class="card-body">
    <h5 class="card-title"><a href="${id}.html" class="text-reset text-decoration-none">#${counter}: ${title}</a></h5>
    <p class="card-text">
      <a href="${id}.html" class="text-reset text-decoration-none small" style="max-height: 12rem; overflow: hidden; display:block; mask-image: linear-gradient(to bottom, black 75%, transparent 100%);">
        <span class="text-muted">${data.text}</span>
      </a>
    </p>
  </div>

  <div class="card-body">
    <a if="audio" href="audio/${audio}" class="btn btn-outline-primary shadow mb-2">Listen</a>
    <a href="${id}.html" class="btn btn-outline-primary shadow mb-2">Read</a>
  </div>

  <div class="card-footer small text-muted">
    ${timestamp}
  </div>

</div>
