<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}
    {{>nav}}
    <main>

        <header>
          <hgroup>
          <h1>Updates and Notes</h1>
          <h5>News Related to {{title}}</h5>
          </hgroup>
        </header>

        <article>
          <hgroup>
            <h3>Just Launched</h3>
            <h6>Tue Aug 04 2020 16:51:22 GMT-0400 (Eastern Daylight Time)</h6>
          </hgroup>
          <p>
            The old content that was here before could do well under labs.catpea.com but it was crashing my cheap ($99) phone, I was using svelte and big images and audio, I need to re-think using svelte for advanced programming. I think I need something like a Siri style UI, I need things to work on low power and cheap devices.
          </p>
          <p>
            I need a few days to think about where eveythig is going, but I am glad that catpea.com is up and running in a much less experimental and low-power-device-friendly mode. It took two weeks to code all this.
          </p>
        </article>

        <article>
          <hgroup>
            <h3>Preparing for Launch</h3>
            <h6>Sun Aug 02 2020 15:40:16 GMT-0400 (Eastern Daylight Time)</h6>
          </hgroup>
          <p>
            Created a standalone website generator, website repository, and CNAME file.
            Getting ready to take over catpea.com.
          </p>
        </article>


    </main>
    {{>footer}}
  </body>
</html>
