<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}
    {{>nav}}
    <main>

      <header>
        <hgroup>
          <h3>Updates and Notes</h3>
          <h5>News Related to {{title}}</h5>
        </hgroup>
      </header>

      {{#each news}}
        <article>
          <hgroup>
            <h3>{{title}}</h3>
            <h6>{{date}}</h6>
          </hgroup>
          <p>
            {{text}}
          </p>
        </article>
      {{/each}}

    </main>
    {{>footer}}
  </body>
</html>
