<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}
    {{>nav}}
    <main>

        <header>
          <hgroup>
          <h1>Updates and Notes</h1>
          <h5>News Related to {{title}}</h5>
          </hgroup>
        </header>

        <article>
          <hgroup>
            <h3>Preparing for Launch</h3>
            <h6>Sun Aug 02 2020 15:40:16 GMT-0400 (Eastern Daylight Time)</h6>
          </hgroup>
          <p>
            Created a standalone website generator, website repository, and CNAME file.
            Getting ready to take over catpea.com.
          </p>
        </article>


    </main>
    {{>footer}}
  </body>
</html>
