<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  {{>nav}}

  <div class="container">
    <div class="row">

      <main class="col-xl-12 mb-5">
          {{>poemHome}}
      </main>

    </div>
  </div>

  {{>footer}}
  {{>debug}}
  {{>foot}}
</body>

</html>
