<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  {{>nav}}

  <div class="container">
    <div class="row">

      <main class="col-lg-8 mb-5">
          {{>poemText}}
      </main>

      <aside class="d-none d-lg-block col-lg-4 mb-5">

        {{#with parent}}
          {{>cardBook}}
        {{/with}}

        {{#each (slice 0 3 (exclude content.id parent.latest))}}
          {{>cardPoem}}
        {{/each}}

      </aside>

    </div>
  </div>

  {{>footer}}
  {{>debug}}
  {{>foot}}
</body>

</html>
