<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}
  {{>nav}}

  <div class="container">
    <div class="row">

      <main class="col-lg-8 mb-5">
          {{>poemHome}}
      </main>

      <aside class="d-none d-lg-block col-lg-4 mb-5">

              {{#each (exclude content.id (take 5 (reverse parent.all)))}}
                <div>
                  {{>poemPrimary}}
                </div>
              {{/each}}

      </aside>

    </div>
  </div>

  {{>footer}}
  {{>debug}}
  {{>foot}}
</body>

</html>
