<div class="alert alert-success no-print" role="alert">
  <div class="small mb-2">The {{options.title}} Homepage has only a handful of recent poems, visit their homepage for more.</div>

  <ul class="list-unstyled">
    {{#each data.books}}
      <li><a href="{{id}}.html" class="alert-link">{{title}} Home</a></li>
    {{/each}}
  </ul>

</div>
