<div class="container">
  <div class="row">

    <main class="col-xl-9 mb-5">
      <slot name="main">
        <div class="row row-cols-1">
          <div class="col mb-4">
            <container-poem></container-poem>
          </div>
        </div>
      </slot>
    </main>

    <aside class="d-none d-xl-block col-xl-3">
      <slot name="aside">
        <!-- followed by latest entries -->
        <card-poem each="parent.latest" slice="0, 5"></card-poem>
      </slot>
    </aside>

  </div>
</div>
