<footer class="no-print">
    <nav>
      <header>
        <hgroup>
          <h4>{{title}}</h4>
          <h5>{{subtitle}} by {{author}}</h5>
        </hgroup>
      </header>
      <menu>
        <li><a href="{{website}}">Cat Pea Home Page</a></li>
        <li><a href="https://github.com/catpea/poetry" rel="noopener noreferrer" target="_blank">Source Code</a></li>
        <li><a href="https://github.com/catpea/poetry/issues" rel="noopener noreferrer" target="_blank">Bugs and Issues</a></li>
        <li><a href="https://catpea.github.io/poetry/" rel="noopener noreferrer" target="_blank">Data Mirror</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLOo-pqnffyOqsK6hf5tFwMqzvhogksrgW" rel="noopener noreferrer" target="_blank">YouTube Audio Book</a></li>
        <!-- <li><a href="styleguide.html" class="secondary">Design Style Guide</a></li> -->
        <li><a href="#top" class="secondary">Top</a></li>
      </menu>
    </nav>
</footer>
