<footer class="no-print">

    <menu>
      <li><a href="https://github.com/catpea/poetry" rel="noopener noreferrer" target="_blank">Source Code</a></li>
      <li><a href="https://github.com/catpea/poetry/issues" rel="noopener noreferrer" target="_blank">Bugs and Issues</a></li>
      <li><a href="https://catpea.github.io/poetry/" rel="noopener noreferrer" target="_blank">Data Mirror</a></li>
      <li><a href="styleguide.html" class="secondary">Design Style Guide</a></li>
    </menu>

</footer>
