<a name="top"></a>
{{#if (matches filename 'index.html')}}
<header>
  <hgroup>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <h5>by {{author}}</h5>
  </hgroup>
  <img src="image/poetry-0155-illustration.jpg" style="max-width: 32rem;">
</header>
{{/if}}
