<a name="top"></a>
{{#if (matches filename 'index.html')}}
<header style="text-align: center; background: url('image/bg.jpg'); background-size: cover;">
  <hgroup>
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
  </hgroup>
  <img src="image/cover-2.jpg" style="max-width: 32rem;">
  <h5>by {{author}}</h5>
</header>
{{/if}}
