<nav class="no-print">
  <!-- <header>
    <h2>Website Navigation</h2>
  </header> -->

  <menu>
   <!-- <li><a href="audio/all.mp3">Recent Audio Poems</a></li> -->
   {{#unless (matches filename 'index.html')}}<li><a href="index.html"><h4>List Newest Poems First</h4></a></li>{{/unless}}
   {{#unless (matches filename 'toc.html')}}<li><a href="toc.html"><h4>List Poems In Chronological Order</h4></a></li>{{/unless}}
   <li><a href="https://www.youtube.com/playlist?list=PLOo-pqnffyOqsK6hf5tFwMqzvhogksrgW" rel="noopener noreferrer" target="_blank"><h4>Visit YouTube Audio Book</h4></a></li>
   <!-- <li><a href="poems.html">Poems</a></li> -->
   <!-- <li><a href="Illustrations.html">Wall of Illustrations</a></li> -->
   <!-- <li><a href="audio/all.mp3" rel="noopener noreferrer" target="_blank" class="no-print">Latest Audio Book</a></li> -->
   <li><a href="news.html"><h4>Recent Updates and Notes</h4></a></li>
  </menu>

</nav>
