/* Document
 * ========================================================================== */

/*
* Menu can be used as a list container.
*
*/

nav menu {
  list-style: none;
  padding: 0;
}
summary {
  list-style: none;
}

/*
 * Links should be colored same as text. (opinionated)
 *
 */

a {
  color: inherit;
}
