<!--
  this is the main layout for a chapter formatted work
-->

<div class="container">
  <div class="row">

    <main class="col-xl-12 mb-5">
      <slot name="main">
        <!-- this is the main listing -->

        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-4">



            <div class="card bg-dark text-white shadow">
              <div class="card-body">
                <h5 class="card-title display-2">${content.title}</h5>

                <div class="card-text">
                  <div class="small">Updated ${content.updated}</div>
                  <div if="isOldest" class="small text-muted">This is the oldest chapter in the book.</div>
                  <div if="isNewest" class="small text-muted">This is the latest chapter in the book.</div>
                </div>
              </div>

              <ul class="list-group list-group-flush">
                  <li each="content.feed" class="list-group-item bg-dark text-light y-3">
                      <div if="image"><a href="${id}.html" class="text-reset text-decoration-none mr-4 mb-1 float-left"><img src="image/ss-${image}" class="rounded border border-primary"></a></div>
                      <div><a href="${id}.html" class="text-reset text-decoration-none">${title}</a></div>

                      <div if="audio"><a href="audio/${audio}" class="card-link">Listen</a> <a href="${id}.html" class="card-link">Read</a></div>
                  </li>
              </ul>

            </div>

          </div>

          <div class="col mb-4">
            <card-book with="content"></card-book>
          </div>

        </div>






      </slot>
    </main>



  </div>
</div>
