<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}


    <main>

      <ul>
        {{#each (reverse data.data)}}
        <li>

          <h2>Chapter {{meta.sectionNumber}}</h2>
          <ul>


            {{#each (reverse data)}}
            <li>
              <hgroup>
                <h3><a href="{{meta.id}}.html">{{meta.title}}</a></h3>
                <h6>Written {{meta.timestamp}}</h6>
              </hgroup>

            </li>
            {{/each}}
          </ul>

        </li>
        {{/each}}
      </ul>

    </main>

    {{>footer}}
  </body>
</html>
