<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    {{>header}}


    <main>

      <ul>

        <li>

          <h2>Updates and Notes</h2>
          <ul>



            <li>
              <hgroup>
                <h3>Preparing for Launch</h3>
                <h6>Sun Aug 02 2020 15:40:16 GMT-0400 (Eastern Daylight Time)</h6>
              </hgroup>

              <p>
                All systems nominal.
              </p>

            </li>

          </ul>

        </li>

      </ul>

    </main>

    {{>footer}}
  </body>
</html>
