<!doctype html>
<html lang="en">
<head>
  {{>head}}
</head>
  <body>
    <main>
      <article>


          <header>
            <hgroup>
              <h1>{{meta.title}}</h1>
              <h6>
                Written {{meta.timestamp}}
              </h6>
            </hgroup>
          </header>

          {{{data.html}}}

      </article>
    </main>

    <footer class="no-print">
        <nav>
          <menu>
            <li><a href="index.html">Home Page</a></li>
            <li><a href="toc.html">Table of Contents</a></li>
          </menu>
        </nav>
    </footer>


  </body>
</html>
