{{>bookNav}}

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-lg-2">
    {{#each (reverse content.chapters.data)}}
      <div class="col mb-4">
        {{>cardChapter data=(reverse data)}}
      </div>
    {{/each}}
    <div class="col mb-4">
      <div class="card bg-dark text-white">
        <ul class="list-group list-group-flush">

          <li class="list-group-item bg-dark text-white">Chapters <span class="badge bg-primary">{{content.chapters.count}}</span></li>
          <li class="list-group-item bg-dark text-white">Poems <span class="badge bg-primary">{{content.chapters.total}}</span></li>

        </ul>
      </div>
    </div>
  </div>
</div>
