{{>bookSubnav}}

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-lg-2">
    {{#each content.chapters.data}}
      <div class="col mb-4">
        {{>chapterCard}}
      </div>
    {{/each}}
    <div class="col mb-4">
      <div class="card">
        <ul class="list-group list-group-flush">
          
          <li class="list-group-item">Chapters <span class="badge badge-primary">{{content.chapters.count}}</span></li>
          <li class="list-group-item">Poems <span class="badge badge-primary">{{content.chapters.total}}</span></li>

        </ul>
      </div>
    </div>
  </div>
</div>
