<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body>
  {{>header}}

  <div class="container">
    <div class="row">
      <main class="col-xl-9" style="min-height: 50rem;">



        <div class="card mb-3">
          <div class="row no-gutters">

            <div class="col-md-4 text-center p-2">
              <img src="image/face.png" class="card-img shadow img-fluid" alt="Authors Face" style="border-radius: 50%; border: 1rem solid var(--teal);">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Cat Pea</h5>

                <p class="card-text">
                  Cat Pea, as all good things, is an Open Source Art Project.

                  One of the key reasons behind it is the creation of my Art &amp; Programming Portfolio.
                </p>

                <p class="card-text">
                  The development of this project begun during 2020 Pandemic, and its minor goals are still very fluid.
                </p>

                <p class="card-text">
                  It should run on a Raspberry PI Zero (including the build system),
                  the graphic design should make it to BootstrapThemes/WrapBootstrap/CreativeMarket and make at least one sale.
                  It should support many books, and help the authors with releasing Audio Book versions.
                </p>

                <p class="card-text">
                  {{options.title}} hopes to inspire.
                  Cat Pea is a study in
                  Art and Typography,
                  User Interface Design,
                  User Experience Crafting,

                  CSS,
                  SASS,
                  Bootstrap,

                  git GitHub and GitLab,
                  Debian and Linux From Scratch (LFS),
                  Continuous Integration,
                  Node.js,
                  Node Modules,
                  and Node Deployment,
                  Electron Applications and Custom Code Editors.
                  DNS Management,
                  Raspberry PI Clusters,
                  ZeroMQ Clusters,
                  ImageMagick,
                  GIMP,
                  Audacity,
                  ffmpeg,
                  Sound and Signal Processing,
                  YouTube Video Management,
                  practicing UNIX, memorizing new commands and ideas,
                  Static Site Generation and Resource Management,
                  Custom static site generators and data queries.
                  It is a challenge in Philosophy and Poetry, thinking on late evenings and early mornings during a 10K with heavy dumbbells.
                </p>

                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>

          </div>
        </div>

      </main>


    </div>
  </div>

  {{>footer}}
  {{>foot}}
</body>

</html>
