<!doctype html>
<html lang="en">

<head>
  {{>head}}
</head>

<body class="bg-dark">
  {{>header}}
  {{>nav}}

  <div class="container">
    <div class="row">

      <div class="col-3 p-5 bg-theme1">
        .bg-theme1
      </div>
      <div class="col-3 p-5 bg-theme2">
        .bg-theme2
      </div>
      <div class="col-3 p-5 bg-theme3">
        .bg-theme3
      </div>


    </div>
  </div>

  {{>footer}}
  {{>debug}}
  {{>foot}}
</body>

</html>
