<footer class="bg-dark text-white mt-5">
  <div class="container-fluid">
    <div class="row shadow">

      <div class="col-md-5 col-lg-3 mt-3">
        <h3 class="h1 font-weight-bolder">${options.title}</h3>
        <p class="small mb-0">${options.subtitle}</p>
        <p class="small text-muted border-bottom border-primary">${options.description}</p>

        <ul class="list-unstyled">
          <ul class="list-unstyled">
            <!-- <li><a href="toc.html" class="text-reset text-decoration-none">Chapters</a></li> -->
            <!-- <li><a href="${website}" class="text-reset text-decoration-none">Home</a></li> -->
            <!-- <li><a href="https://github.com/catpea/poetry" rel="noopener noreferrer" target="_blank" class="text-reset text-decoration-none">Code</a></li> -->
            <li><a href="https://github.com/catpea/poetry/issues" rel="noopener noreferrer" target="_blank" class="text-reset text-decoration-none">Bugs</a></li>
            <li><a href="https://catpea.github.io/poetry/" rel="noopener noreferrer" target="_blank" class="text-reset text-decoration-none">Mirror</a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLOo-pqnffyOqsK6hf5tFwMqzvhogksrgW" rel="noopener noreferrer" target="_blank" class="text-reset text-decoration-none">Audio</a></li>
            <!-- <li><a href="styleguide.html" class="secondary" class="text-reset text-decoration-none">Design Style Guide</a></li> -->
          </ul>
        </ul>
      </div>


      <div class="col-md-7 col-lg-6 mt-3">
        <div class="row">

          <div class="col text-center">
            <h2 class="font-weight-bolder">Social</h2>
            <ul class="list-unstyled">
              <!-- <li><a href="author.html" class="text-reset text-decoration-none">Author</a></li> -->
              <li each="data.social"><a href="${url}" class="text-reset text-decoration-none">${title}</a></li>
            </ul>

          </div>

          <div class="col text-center">
            <h2 class="font-weight-bolder">Books</h2>
            <ul class="list-unstyled">
              <li each="data.books"><a href="${id}.html" class="text-reset text-decoration-none">${title}</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>

    <!-- second row -->
    <div class="row border-top border-primary py-3 shadow text-center">
      <div class="col">
        <a href="notes.html" class="text-reset text-decoration-none" title="top">Notes</a>
        | <a href="style.html" class="text-reset text-decoration-none" title="top">Style</a>
      </div>
      <div class="col">
        <a href="#top" class="text-reset text-decoration-none" title="top">Top</a>
      </div>
      <div class="col">
        <a href="${options.canonical}" class="text-reset text-decoration-none" title="top">Cat Pea</a>
      </div>
    </div>

  </div>
</footer>
