{{#each data.books}}

    <div class="row row-cols-1">

      {{#each home}}
        <div class="col mb-4">
          {{>cardPoem}}
        </div>
      {{/each}}

      <div class="col mb-4">
        {{>cardMore}}
      </div>
    </div>



{{/each}}
